/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: sans-serif;
	font-style: inherit;
}

@font-face {
	font-family: "Nivea-Light";
	src: url(../fonts/NiveaLight.ttf);
}

body {
	line-height: 1;
	width: 800px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My styles begin here*/

#header {
	width: 800px;
	height: 116px;
}

#header h1 {
	color:  white;
	font-size: 2em;
}

#footer {
	float: right;
	clear: left;
}

table {
	width: 800px;
	margin-top: 40px;
}

td {
	width: 200px;
	text-align: center;
	height: 3em;
	border: 1px solid #333;
	padding-top: 1em;
}

.theme-default #slider {
    margin:0 auto 0 auto;
    width:800px; /* Make sure your images are the same size */
    height:364px; /* Make sure your images are the same size */
}

.navigation-buttons {	
	position: absolute;
	top: 400px;
	margin: 0;
	z-index: 10;
}

.six-buttons {
	top: 224px;
}

.four-buttons {
	top: 312px;
}

.navigation-buttons a {
	font-family: "Nivea-Light";
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 32px;
	line-height: 25px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}

.navigation-buttons td {
	background: url(../images/home-screen-button.png) no-repeat 9px;
	border-style: none;
	padding-bottom: 10px;
	padding-top: 30px;
}

#button-previous {
	position: absolute;
	top: 200px;
	left: 20px;
}

#button-next {
	position: absolute;
	top: 200px;
	left: 720px;
}

#product-shot {
	position: absolute;
	top: 150px;
	left: 130px;	
}

#product-description {
	position: absolute;
	top: 180px;
	left: 390px;
	color: white;
	width: 330px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}

#product-description h1 {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 12px;
}

#product-description p {
	font-size: 18px;
}

#button-back {
	width: 100px;
	height: 40px;
	background: url(../images/blue-button.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 690px;
	padding-top: 6px;
	padding-left: 12px;
}

#button-home {
	width: 100px;
	height: 40px;
	background: url(../images/blue-button.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 570px;
	padding: 6px;
}

#button-back a, #button-home a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	font-weight: bold;
	text-decoration: none;
	font-size: 28px;
	position: relative;
}

.clear {
	clear:both;
}